In [6]:
import pandas as pd
url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
data = pd.read_csv(url)
data.head()

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000

In [7]:
data.sample(10)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
713,Rua Professor Filadelfo Azevedo,Vila Nova Conceição,São Paulo,275,3,4,7,R$ 3.600.000
482,"Rua Paulo Rafael, 51",Vila Hebe,São Paulo,110,2,2,2,R$ 480.000
98,Rua Marechal Bitencourt,Jardim Paulista,São Paulo,360,4,5,4,R$ 1.800.000
9986,Rua Luisiania,Brooklin Paulista,São Paulo,205,3,1,3,R$ 2.200.000
8882,Rua Camundo,Planalto Paulista,São Paulo,250,4,4,6,R$ 890.000
5519,Rua Martins,Butantã,São Paulo,329,4,2,5,R$ 1.500.000
8157,Rua dos Militares,Vila Albertina,São Paulo,230,3,4,3,R$ 1.200.000
426,Rua Geórgia,Brooklin Paulista,São Paulo,130,2,5,1,R$ 1.700.000
4025,Rua Teixeira Mendes,Liberdade,São Paulo,275,3,4,2,R$ 900.000
4097,"Avenida Professor Fonseca Rodrigues, 0",Alto de Pinheiros,São Paulo,627,4,6,4,R$ 7.599.600

In [8]:
data.Metragem.mean()

442.30065947242207

In [10]:
data.Bairro.value_counts()

Alto de Pinheiros     409
Jardim Guedala        403
Jardim Paulista       309
Brooklin Paulista     247
Jardim Europa         240
                     ...
Jardim das Imbuias      1
Vila Represa            1
Vila Nancy              1
Sítio Represa           1
Vila Invernada          1
Name: Bairro, Length: 701, dtype: int64

In [11]:
n_imoveis_bairro = data.Bairro.value_counts()

In [14]:
media_metragem = data.Metragem.mean()

In [15]:
media_metragemBairro = n_imoveis_bairro + media_metragem

In [16]:
print(media_metragemBairro)

Alto de Pinheiros     851.300659
Jardim Guedala        845.300659
Jardim Paulista       751.300659
Brooklin Paulista     689.300659
Jardim Europa         682.300659
                         ...
Jardim das Imbuias    443.300659
Vila Represa          443.300659
Vila Nancy            443.300659
Sítio Represa         443.300659
Vila Invernada        443.300659
Name: Bairro, Length: 701, dtype: float64